h1{
    color:red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: static;
    
}
h3{
    color: blue;
    
}
img{
    box-shadow: 1px 1px 1px  red;
    
}


h4{
    font-size: 20px;
    color:  black;
}